@font-face {
  font-family: nyghtSerif;
  src: url(fonts/NyghtSerif-Medium.woff2);
}

@font-face {
  font-family: nyghtSerifItalic;
  src: url(fonts/NyghtSerif-Medium.woff2);
}

html,
body {
  font-family: nyghtSerif;
  color: rgb(62, 41, 31);
  margin: 0;
  padding: 0;
  background-color: rgb(239, 237, 234);
  /* rgb(232, 222, 208) */
}
canvas {
  display: block;
  z-index: -1000;
}

#aboutTab {
  font-family: nyghtSerif;
  display: none;
  color: rgb(41, 28, 22);
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80vw;
  height: 10%;
  overflow: scroll;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(1);
}

main {
  z-index: 1000;
  display: none;
  position: absolute;
  top: 3%;
  z-index: 1;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: contrast(1);
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  filter: blur(90px);

  transition: filter 0.3s ease-in-out;
}
.design:hover {
  filter: blur(0px);
}
.design h3 {
  writing-mode: vertical-rl;
  font-size: 2vw;
}
.design h3:first-child {
  transform: rotate(180deg);
}
.design .center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.design .center h1 {
  font-family: nyghtSerifItalic;
  font-size: 6vw;
  margin-block: 0px;
}
.design .center .space-container {
  display: flex;
  width: 70%;
}
.design .center .space-container span {
  font-size: 3vw;
}
.design .center .space-container hr {
  border: none;
  border-bottom: 3px solid rgb(72, 54, 135);
  outline: none;
  display: inline;
  height: 0.6vw;
  flex-grow: 1;
  margin-left: 0.2vw;
  margin-right: 0.2vw;
}

p {
  font-size: 2vw;
}

a {
  border-bottom: 0.2px solid #453886;
  color: #453886;
  padding-bottom: 0.25em;
  text-decoration: none;
}

a:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 15px;
  border-bottom: 0;
  padding-bottom: 0.3em;
  text-decoration: none;
}

.page-hover:hover {
  animation: about-hover 3s cubic-bezier(0.61, 1, 0.88, 1) 0ms infinite normal
    none;
}
@keyframes about-hover {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.design .center .oval {
  border: 3px solid rgb(72, 54, 135);
  /*background-image: url(imgs/db4fjld-7c04adef-021f-4163-9681-c2848d291765.gif);
    background-size: cover !important;*/
  background: cover;
  padding: 9.4vw 9.4vw;
  text-align: center;
  border-radius: 90%;
}
.oval {
  padding: 3%;
}
.design .center .oval p {
  margin-block: 0px;
  text-transform: uppercase;
}
.design .center .squaree {
  border: 3px solid rgb(72, 54, 135);
  margin-top: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  /*background-image: url(imgs/db4fjld-7c04adef-021f-4163-9681-c2848d291765.gif);
    background-size: cover !important;*/
}
.design .center .squaree div {
  font-size: 2.3vw;
  font-weight: bold;
}
.design .center .squaree div p {
  margin-block: 0px;
  font-size: 2.7vw;
}
.design .center .footer {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.design .center .footer h2 {
  margin-block: 0px;
  font-size: 8vw;
  font-weight: normal;
}

.design .center .footer h4 {
  font-size: 3vw;
  margin-block: 0px;
}
.design .center .footer p {
  margin-block: 0px;
}

#squareeRawr {
  border: 3px solid rgb(203, 222, 251);
  padding: 2%;
}

.bg {
  perspective: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  z-index: -1000;
}

@media only screen and (max-device-width: 500px) {

  body{
    color: rgb(62, 41, 31);
  }

  a{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 15px;
    border-bottom: 0;
    padding-bottom: 0.3em;
    text-decoration: none;
  }

  .page-hover{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 15px;
    border-bottom: 0;
    padding-bottom: 0.3em;
    text-decoration: none;
  }

  .design .center .oval {
    border: 3px solid rgb(72, 54, 135);
    font-size: 3vw;
    /*background-image: url(imgs/db4fjld-7c04adef-021f-4163-9681-c2848d291765.gif);
    background-size: cover !important;*/
    background: cover;
    padding: 9.8vw 9.8vw;
    text-align: center;
    border-radius: 90%;
  }

  main {
    top: -2%;
    left: 10%;
    width: 80vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(1);
    filter: blur(0px);
  }

  .design {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: blur(0px);
  }

  .design .center h1 {
    text-align: center;
    font-size: 15vw;
    margin-block: 0px;
  }

  .design .center .squaree div {
    font-size: 5vw;
    font-weight: bold;
  }

  .design .center .footer h2 {
    margin-block: 0px;
    font-size: 8vw;
    font-weight: normal;
  }

  .design .center .footer h4 {
    font-size: 5vw;
    margin-block: 0px;
  }
  .design .center .space-container span {
    font-size: 5vw;
  }

  p {
    font-size: 5vw;
  }

  .design h3 {
    writing-mode: vertical-rl;
    font-size: 5vw;
  }

  #aboutTab {
    display: none;
    position: absolute;

    top: 5%;
    left: 0%;
    width: 110vw;
    overflow: scroll;
    height: 60vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(1);
    filter: blur(0px);
  }
}
