@font-face {
  font-family: nyghtSerif;
  src: url(fonts/NyghtSerif-Medium.woff2);
}

@font-face {
  font-family: nyghtSerifItalic;
  src: url(fonts/NyghtSerif-Medium.woff2);
}

html, body {
   font-family: nyghtSerif;
    margin: 0;
    padding: 0;
    background-color: rgb(232, 222, 208);
  }
  canvas {
    display: block;
    z-index: -1000;
  }
  
  #aboutTab{
    font-family: nyghtSerif;
    display: none;
    position: absolute;
    top: 5%;
    left: 10%;
    width: 80vw;
    height:10%;
    overflow: scroll;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(1);
  }
  
  main {
    z-index: 1000;
    display: none;
    position: absolute;
    top: 3%;
    z-index: 1;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(1);
  }
  
  .design {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: blur(2px);
    
    transition: filter 0.3s ease-in-out;
  }
  .design:hover {
    filter: blur(0px);
  }
  .design h3 {
    writing-mode: vertical-rl;
    font-size: 2vw;
  }
  .design h3:first-child {
    transform: rotate(180deg);
  }
  .design .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .design .center h1 {
    font-family: nyghtSerifItalic;
    font-size: 6vw;
    margin-block: 0px;
  }
  .design .center .space-container {
    display: flex;
    width: 100%;
  }
  .design .center .space-container span {
    font-size: 3vw;
  }
  .design .center .space-container hr {
    border: none;
    border-bottom: 3px solid rgb(72, 54, 135);
    outline: none;
    display: inline;
    height: 0.6vw;
    flex-grow: 1;
    margin-left: 0.2vw;
    margin-right: 0.2vw;
  }

  p{
    font-size: 2vw;
  }

  .design .center .oval {
    border: 3px solid rgb(72, 54, 135);
    /*background-image: url(imgs/db4fjld-7c04adef-021f-4163-9681-c2848d291765.gif);
    background-size: cover !important;*/
    background: cover;
    padding: 2.4vw 2.4vw;
    text-align: center;
    border-radius: 50%;
  }
  .oval{
    padding: 3%;
  }
  .design .center .oval p {
    margin-block: 0px;
    text-transform: uppercase;
  }
  .design .center .square {
    border: 3px solid rgb(72, 54, 135);
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /*background-image: url(imgs/db4fjld-7c04adef-021f-4163-9681-c2848d291765.gif);
    background-size: cover !important;*/
  }
  .design .center .square div {
    font-size: 2.3vw;
    font-weight: bold;
  }
  .design .center .square div p {
    margin-block: 0px;
    font-size: 2.7vw;
  }
  .design .center .footer {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .design .center .footer h2 {
    margin-block: 0px;
    font-size: 2vw;
    font-weight: normal;
  }
  
  .design .center .footer h4 {
    font-size: 3vw;
    margin-block: 0px;
  }
  .design .center .footer p {
    margin-block: 0px;
  }
  

  #squareRawr{
    border: 3px solid rgb(203, 222, 251);
    padding: 2%;
  }
 
  
  .bg {
  perspective: 500px;	
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
    z-index: -1000;
  }
  


  @media only screen and (max-device-width: 500px){

  

   .design .center .oval {
    border: 3px solid rgb(72, 54, 135);
    /*background-image: url(imgs/db4fjld-7c04adef-021f-4163-9681-c2848d291765.gif);
    background-size: cover !important;*/
    background: cover;
    padding: 5.4vw 5.8vw;
    text-align: center;
    border-radius: 50%;
  }

 

   main{
    top: -5%;
    left: 10%;
    width: 80vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(1);
   }

   .design {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: blur(0px);
  }

  .design .center h1 {
    text-align: center;
    font-size: 15vw;
    margin-block: 0px;
  }

  .design .center .square div {
    font-size: 5vw;
    font-weight: bold;
  }

  .design .center .footer h2 {
    margin-block: 0px;
    font-size: 5vw;
    font-weight: normal;
  }
  
  .design .center .footer h4 {
    font-size: 5vw;
    margin-block: 0px;
  }
  .design .center .space-container span {
    font-size: 5vw;
  }

  p{
    font-size: 5vw;
  }

  .design h3 {
    writing-mode: vertical-rl;
    font-size: 5vw;
  }

  #aboutTab{
    display: none;
    position: absolute;
    
    top: 5%;
    left: 0%;
    width: 110vw;
    overflow: scroll;
    height: 60vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(1);
  }

 

  }

